<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="bi bi-speedometer"></i> Lịch tăng ca</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="bi bi-house-door fs-6"></i></li>
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    </ul>
  </div>

  <!-- Bảng Lịch làm thêm giờ -->
  <div class="card">
    <div class="card-body">
      <div class="col-md-12">
        <div class="d-flex mb-3">
          <!-- Dropdown chọn ngày làm thêm -->
          <div class="me-3">
            <label><b>Ngày làm thêm:</b></label><br>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedOvertimeSchedule ? selectedOvertimeSchedule.ScheduleDate : 'Chọn ngày làm thêm' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li ng-repeat="schedule in filterOvertimeSchedules()">
                <a class="dropdown-item" href="#" ng-click="selectedOvertimeSchedule = schedule">
                  {{ schedule.ScheduleDate }}
                </a>
              </li>
            </ul>
          </div>
          <!-- Dropdown chọn phòng ban -->
          <div class="me-3">
            <label><b>Phòng ban:</b></label><br>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonDept"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedDepartment ? selectedDepartment.DepartmentName : 'Chọn phòng ban' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDept">
              <li ng-repeat="department in getActiveDepartments()">
                <a class="dropdown-item" href="#" ng-click="selectedDepartment = department">
                  {{ department.DepartmentName }}
                </a>
              </li>
            </ul>
          </div>
          <!-- Dropdown chọn chức vụ -->
          <div>
            <label><b>Chức vụ:</b></label><br>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonPosition"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedPosition ? selectedPosition.PositionName : 'Chọn chức vụ' }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonPosition">
              <li ng-repeat="position in getAllPositions()">
                <a class="dropdown-item" href="#" ng-click="selectedPosition = position">
                  {{ position.PositionName }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="tile-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-sm" style="font-size: 12px;" id="employees">
              <thead>
                <tr>
                  <th>Chọn</th>
                  <th>Chức vụ</th>
                  <th>Nhân viên</th>
                  <th>Giới tính</th>
                  <th>Ngày sinh</th>
                  <th>Email</th>
                  <th>SĐT</th>
                  <th>Địa chỉ</th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="employee in employees">
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" ng-model="employee.selected"
                        id="defaultCheck{{$index}}">
                    </div>
                  </td>
                  <td>{{employee.chucvu}} - {{employee.phong}}</td>
                  <td>
                    <img class="rounded-circle me-2" style="width: 25px; height: 25px;"
                      ng-src="{{employee.hinhanh}}">{{employee.hoten}}
                  </td>
                  <td>{{employee.gioitinh}}</td>
                  <td>{{employee.ngaysinh}}</td>
                  <td>{{employee.email}}</td>
                  <td>{{employee.sdt}}</td>
                  <td>{{employee.diachi}}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" ng-click="openUpdateModal(employee)">Cập nhật</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="selectAllCheckbox" ng-model="selectAll"
            ng-change="toggleSelectAll()">
          <label class="form-check-label" for="selectAllCheckbox">Chọn tất cả nhân viên</label>
        </div>
        <button class="btn btn-primary" ng-click="addOvertimeSchedule()">Lưu</button>
      </div>
    </div>
  </div>
</main>